<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>
    <style>
      div.block {
        display:block;
        margin:0 0 2% 0;
      }
      div.loginform{
       clear:both;
       margin:0 0 5% 0;
       padding:30px;
       background: #f3f3f3;
      }
      label.labelform {
       width:160px;
       display:inline-block;
       text-align: right;
       margin:0 5px 0 0;
       vertical-align: top;
      }
      button.acceso{
       color:#fff;
       background-color:#000;
       border-width:0;
       cursor:pointer;
       font-family: "Fonda",Arial,Helvetica,sans-serif;
       font-size:16px;
       line-height:18px;
       text-transform: uppercase;
       text-align: center;
       font-weight: normal;
       padding:1%;
       margin:0 auto;
       width:60%;
       display: block;
       opacity: 1;
       transition: opacity 0.3s ease-in-out;
      }
      button.registro{
       color:#fff;
       background-color:#9a9a9a;
       border-width:0;
       cursor:pointer;
       font-family: "Fonda",Arial,Helvetica,sans-serif;
       font-size:16px;
       line-height:18px;
       text-transform: uppercase;
       text-align: center;
       font-weight: normal;
       padding:1%;
       margin:0 auto;
       width:40%;
       display: block;
       opacity: 1;
       transition: opacity 0.3s ease-in-out;
      }
      p.error {
          font-family: "Fonda",Arial,Helvetica,sans-serif;
      }
      p.error strong {
          font-weight:normal;
          font-size: 1.2rem;
          color:#DA0026;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
    <div class="login" id="theme-my-login">
	     <h2>Acceder a 'Mi Blog – Miguel Ángel Almena'</h2>
       <template is="dom-if" if="{{errorLogin}}">
         <p class="error">
           <strong>ERROR</strong>: Nombre y/o contraseña de usuario no válido.<br>
         </p>
       </template>
      <div class="loginform" id="formLogin">
        <div class="block">
        	<label class="labelform" for="user_login">Email</label>
        	<input name="log" id="user_login" class="input" value="{{email::input}}" size="20" tabindex="10" type="text">
        </div>

        <div class="block">
        	<label class="labelform" for="user_pass">Contraseña</label>
        	<input name="pwd" id="user_pass" class="input" value="{{password::input}}" size="20" tabindex="20" type="password">
        </div>

        <div class="block" style="margin-top: 5%;">
          <button type="button" name="button" class="acceso" on-click="login">Acceder</button>
        </div>

        <div class="block" style="margin-top: 5%;">
          <button type="button" name="button" class="registro" on-click="altaUsuario">Registrarse</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    const URL_USUARIOS = "http://postgrebc9688.cloudapp.net:3000/api/usuarios";

    Polymer({
      is: 'my-login',
      properties: {
        errorLogin: {value: false, notify: true}
      },
      listeners:{
      },
      ready: function(){

      },
      login: function () {
        var request = new XMLHttpRequest();
        request.open("GET", URL_USUARIOS, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var usuarios = JSON.parse(request.responseText).data;

        var encontrado = false;
        for (var i = 0; i < usuarios.length && !encontrado; i++){
          if(usuarios[i].email == this.email && usuarios[i].password == this.password){
            sessionStorage["userId"] = usuarios[i].id;
            sessionStorage["name"] = usuarios[i].nombre;
            this.dispatchEvent(new Event("login-user", {composed: true}));
            this.set('route.path', 'adminposts');
            encontrado = true;
          }
        }

        if(encontrado){
          this.set('errorLogin', false);
        }else{
          this.set('errorLogin', true);
        }
      },
      altaUsuario: function () {
        this.set('route.path', 'newuser');
      }
    })
  </script>
</dom-module>
