<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-modifypost">
  <template>
    <style>
      div.block {
        display:block;
        margin:0 0 2% 0;
      }
      div.loginform{
       clear:both;
       margin:0 0 5% 0;
       padding:30px;
       background: #f3f3f3;
      }
      label.labelform {
       width:160px;
       display:inline-block;
       text-align: left;
       margin:0 5px 0 0;
       vertical-align: top;
      }
      button.acceso{
       color:#fff;
       background-color:#000;
       border-width:0;
       cursor:pointer;
       font-family: "Fonda",Arial,Helvetica,sans-serif;
       font-size:16px;
       line-height:18px;
       text-transform: uppercase;
       text-align: center;
       font-weight: normal;
       padding:1%;
       margin:0 auto;
       width:60%;
       display: block;
       opacity: 1;
       transition: opacity 0.3s ease-in-out;
      }
      button.registro{
       color:#fff;
       background-color:#9a9a9a;
       border-width:0;
       cursor:pointer;
       font-family: "Fonda",Arial,Helvetica,sans-serif;
       font-size:16px;
       line-height:18px;
       text-transform: uppercase;
       text-align: center;
       font-weight: normal;
       padding:1%;
       margin:0 auto;
       width:40%;
       display: block;
       opacity: 1;
       transition: opacity 0.3s ease-in-out;
      }
      #entrynavigation {
        display:block;
        clear:both;
        margin:0 0 40px;
        padding:0;
      }
      span.previous {
      float:left;
      max-width: 49%;
      }
      span.previous a {
      padding: 0 3px 0 15px;
      margin: 0 0 0 1px;
      color:#666;
      background: url(../images/icoFlechaIzq.gif) center left no-repeat;
      text-transform: uppercase;
      font-weight: normal;
      font-family: Arial,Helvetica,sans-serif;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
    <app-route
      route="{{subroute}}"
      pattern="/:id"
      data="{{subrouteData}}">
  </app-route>

    <div class="login" id="theme-my-login">
	      <h2>Modificar post</h2>

      <div class="loginform" id="formLogin">

        <div class="block">
    			<label class="labelform" for="user_name">Título</label>
    			<input id="titulo" class="input" value="{{title::input}}" size="60" tabindex="1" type="text">
    		</div>

    		<div class="block">
    			<label class="labelform" for="user_login">Texto</label>
          <textarea name="body" id="body" cols="65" rows="40" tabindex="2" value="{{body::input}}"></textarea>
    		</div>

    		<div class="block">
    			<label class="labelform" for="user_pass">URL Imagen</label>
    			<input id="url" class="input" value="{{photoURL::input}}" size="60" tabindex="3" type="text">
    		</div>

        <div class="block" style="margin-top: 5%;">
          <button type="button" name="button" class="acceso" on-click="modificarPost">Modificar</button>
    		</div>

      </div>
      <p id="entrynavigation">
        <span class="previous"><a href="[[rootPath]]adminposts">Volver</a></span>
    </div>
  </template>

  <script>

    Polymer({
      is: 'my-modifypost',
      properties: {
        title: String,
        body: String,
        photoURL: String
      },
      listeners:{
      },
      observers: [
        '_routePageChanged(routeData.page)'
      ],
      _routePageChanged: function(page) {
        var request = new XMLHttpRequest();
        request.open("GET", URL_MLAB+"posts/"+this.get('subrouteData.id')+API_KEY, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var post=JSON.parse(request.responseText);

        this.set('title',post.title);
        this.set('body',post.body);
        this.set('photoURL',post.photoURL);        
      },
      ready: function(){
        if(sessionStorage["userId"]!="null" && sessionStorage["userId"]!=null){
          var request = new XMLHttpRequest();
          request.open("GET", URL_MLAB+"posts/"+this.get('subrouteData.id')+API_KEY, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          var post=JSON.parse(request.responseText);

          this.set('title',post.title);
          this.set('body',post.body);
          this.set('photoURL',post.photoURL);
        }else{
          this.set('route.path', 'view403');
        }
      },
      modificarPost: function () {
        var d=new Date();
        var dia=new Array(7);
        dia[0]="DOMINGO";
        dia[1]="LUNES";
        dia[2]="MARTES";
        dia[3]="MIÉRCOLES";
        dia[4]="JUEVES";
        dia[5]="VIERNES";
        dia[6]="SÁBADO";

        var mes=new Array(11);
        mes[0]="ENERO";
        mes[1]="FEBRERO";
        mes[2]="MARZO";
        mes[3]="ABRIL";
        mes[4]="MAYO";
        mes[5]="JUNIO";
        mes[6]="JULIO";
        mes[7]="AGOSTO";
        mes[8]="SEPTIEMBRE";
        mes[9]="OCTUBRE";
        mes[10]="NOVIEMBRE";
        mes[11]="DICIEMBRE";

        var fecha = dia[d.getDay()] + ", " + d.getDate() + " DE "+ mes[d.getMonth()] + " DE " + d.getFullYear();

        var request = new XMLHttpRequest();
        request.open("PUT", URL_MLAB+"posts/"+this.get('subrouteData.id')+API_KEY, false);
        request.setRequestHeader("Content-Type", "application/json");
        var nuevo_post = JSON.stringify({"title": this.title, "body": this.body, "photoURL": this.photoURL, "userId": sessionStorage["userId"],"user":sessionStorage["name"],"created":fecha});
        request.send(nuevo_post);

        this.dispatchEvent(new Event("change-posts", {composed: true}));

        this.set('route.path', 'adminposts');
      }
    })
  </script>
</dom-module>
