<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-post">
  <template>
  <style>
    /* Cabecera----------------------------------------------------*/
    #cabecera {
        background: #9a9a9a;
        margin: 0 auto;
        padding: 64px 0 0;
        position: relative;
        width: 100%;
    }
    #cabecera h1 {
        margin: 0 auto;
        max-width: 980px;
        padding: 0;
    }
    #cabecera h1 a {
        display: block;
    }
    #cabecera h1 a img {
        display: block;
        width: 100%;
    }

    /* Top navigation--------------------------------------------------*/
    .nav {
      background: #ffffff;
      height: 54px;
      overflow: hidden;
      position: relative;
      width: 100%;
      border-top: 10px solid #fff;
      border-bottom: 1px solid #f3f3f3;
      display: block;
      margin: 0 auto;
      position: fixed;
      z-index: 1000;
    }
    .conten--nav {
      box-sizing: border-box;
      height: 54px;
      overflow: hidden;
      position: relative;
      width: 100%;
      max-width: 75rem;
      display: block;
      margin: auto;
      padding: 0 2.5rem;
    }
    .nav--inner {
      height: 100%;
      position: relative;
    }
    .nav--menu {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
    .icoMenu {
      padding: 0;
      margin:0 10px 0 0;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      background:#111;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }
    .icoMenu:hover {
      background:#eb947c;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }
    .nav--logo {
      display: inline-block;
      vertical-align: middle;
    }
    .nav--logo svg {
      display: block;
      height: 28px;
      width: 82px;
      margin: 12px 0;
      padding:0;
    }
    .nav--all-menus {
      display: inline-block;
      vertical-align: middle;
    }
    .nav--primary {
      list-style: outside none none;
      margin: 0;
      padding: 0;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-size: inherit;
      line-height: inherit;
    }
    .nav--primary--item {
      border: medium none;
      padding: 0 0 0 10px;
      margin:0;
      width: auto;
      display: inline-block;
      /*vertical-align: middle;*/
    }
    .nav--primary--link {
      color: #000;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 0.875rem;
      /*line-height: inherit;*/
      text-transform: uppercase;
      padding-left: 5px;
      /*vertical-align: middle;*/
      text-decoration: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      font-weight: normal;
      text-decoration: none;
    }
    .nav--primary--link:hover {
      color: #777;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      text-decoration: none;
    }
    .nav--secondary {
      list-style: outside none none;
      margin: 0;
      position: absolute;
      right: 2.5rem;
      top: 20px;
    }
    .nav--secondary--item {
      border: medium none;
      padding: 0 0 0 10px;
      width: auto;
      display: inline-block;
      /*vertical-align: middle;*/
      text-align: right;
      margin:0;
    }
    .nav--secondary--link {
      color: #aaa;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 0.875rem;
      /*line-height: inherit;*/
      text-transform: uppercase;
      padding-left: 10px;
      vertical-align: top;
      /*vertical-align: middle;*/
      text-decoration: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      font-weight: normal;
      text-decoration: none;
    }
    .nav--secondary--link:hover {
      color: #aaa;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      text-decoration: none;
    }
    .nav--secondary--link-list {
      display: none;
      position: absolute;
      top: 0;
    }
    .nav--secondary--item.item-subscribe ul {
      left: 0px;
      margin:0;
    }
    .nav--secondary--item.item-follow ul {
      left: 0px;
      margin:0;
    }
    .nav--secondary--item.item-follow ul li {
      padding: 0 7px;
      margin:0;
    }
    .nav--secondary--item.item-follow ul a img {
      background: #aaa;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .nav--secondary--item.item-follow ul a:hover img {
      background: #aaa;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .nav--secondary--link-list li{
      display: inline-block;
      margin:0;
    }

    /* Publi Top--------------------------------------------------*/
    .leaderboard {
      background-color: #f3f3f3;
      width: 100%;
      margin: 30px 0;
      border-bottom: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
    }

    .leaderboard.bottom {
      margin-bottom: 0;
    }

    #publiTop, #publiBottom  {
      margin: auto;
      max-width: 980px;
      text-align: center;
    }
    #publiTop div:first-of-type, #publiBottom div:first-of-type {
      padding: 15px 0;
      margin: auto;
    }

    /* Hamburger Menu--------------------------------------------------*/
    .nav-panel {
      background-color: #000;
      bottom: 0;
      left: -320px;
      overflow: auto;
      position: fixed;
      top: 0;
      -webkit-transform: translateX(-320px);
      transform: translateX(-320px);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 320px;
      z-index: 5999997;
    }
    .nav-panel.open {
      left: 0;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    .nav-panel--inner, .nav-panel--inner .nav-panel--panel {
      height: 100%;
      list-style: outside none none;
      margin: 0;
      max-width: 260px;
      overflow: auto;
      padding: 0;
      top: 0;
      width: 260px;
    }
    .nav-panel--panel {
      background-color: #444;
      left: -290px;
      position: fixed;
      -webkit-transform: translateX(-290px);
      transform: translate(-290px, 0px);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 100%;
    }
    .nav-panel--panel.open {
      left: 0;
      -webkit-transform: translateX(0px);
      transform: translate(0px, 0px);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
    .nav-panel--inner li{
      margin: 0 0 8px;
    }
    .nav-panel--inner li:first-child {
      margin-top: 60px;
    }
    .nav-panel--panel--link, .nav-panel--panel--title {
      font-family: Arial,Helvetica,sans-serif;
      font-size: 1.125rem;
      line-height: 1.2;
      color: #e6e6e6;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 0 10px 15px 30px;
      -webkit-transition: color 0.2s ease-in-out 0s;
      transition: color 0.2s ease-in-out 0s;
      font-weight: normal;
    }
    .nav-panel--panel--link {
      font-size: 1rem;
      line-height: 1.2;
    }
    .nav-panel--panel--link:hover, .nav-panel--panel--title:hover {
      color: #eb947c;
      -webkit-transition: color 0.2s ease-in-out 0s;
      transition: color 0.2s ease-in-out 0s;
      text-decoration: none;
      text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    }
    .nav-panel--panel--link img {
      background: #e6e6e6;
    }
    .nav-panel--panel--social-item-facebook img {margin: 0 20px 0 10px; height:15px; }
    .nav-panel--panel--social-item-twitter img {margin: 0 15px 0 3px; height:15px; }
    .nav-panel--panel--social-item-pinterest img {margin: 0 20px 0 4px; height:15px; }
    .nav-panel--panel--social-item-instagram img {margin: 0 18px 0 3px; height:15px; }
    .nav-panel--panel--social-item-youtube img {margin: 0 15px 0 0; height:15px; }
    .nav-panel--panel--social-item-googleplus img {margin: 0 15px 0 3px; height:15px; }
    .nav-panel--panel--link:hover img {
      background: #eb947c;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }
    .nav-panel--close {
      background: #e6e6e6;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 9999999;
      cursor: pointer;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }
    .nav-panel--close:hover {
      background: #eb947c;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }

    .nav-panel--panel--close {
      background: #e6e6e6;
      cursor: pointer;
      display: block;
      margin: 20px 10px;
      z-index: 9999999;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }
    .nav-panel--panel--close:hover {
      background: #eb947c;
      -webkit-transition: background 0.3s ease-in-out 0s;
      transition: background 0.3s ease-in-out 0s;
    }

    /* footer
    --------------------------------------------------*/
    .footer-outer {
        background: #111;
    }
    .footer {
        max-width: 70rem;
        margin: 0 auto;
        padding: 20px 2.5rem 30px;
        position: relative;
        color:#fff;
    }
    .footer::after {
      content:"";
      height:0;
      width:100%;
      clear:both;
      display:block;
    }
    .footer--logo {
        float: left;
        width: 190px;
        height: 35px;
        margin: 13px 35px 30px 0
    }
    .footer--logo::after {
      content:"";
      height:0;
      width:100%;
      clear:both;
      display:block;
    }
    .footer--logo a {
        display: block;
        height: 100%
    }
    .footer--logo svg {
        height: 35px;
        max-width: 190px;
    }
    .footer--social {
        margin: 0 0 30px;
        padding: 0;
        font-size: 17px;
        float: right;
        list-style-type: none;
        position:absolute;
        top:90px;
        left:inherit;
        display:block;
        clear:both;
        list-style-position: inside;
    }
    .footer--social::after {
      content:"";
      height:0;
      width:100%;
      clear:both;
      display:block;
    }
    .footer--social-item {
        float: left;
        margin: 0 20px 0 0;
    }
    .footer--social-item:last-child {
        margin-right: 0
    }
    .footer--social-item a img {
      background: #fff;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      max-height: 16px;
    }
    .footer--social-item a:hover img {
      background: #e6e6e6;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .footer--social-item.footer--social-item-facebook a:hover img {
      background: #3b5998;
    }
    .footer--social-item.footer--social-item-twitter a:hover img {
      background: #00aced;
    }
    .footer--social-item.footer--social-item-pinterest a:hover img {
      background: #c92228;
    }
    .footer--social-item.footer--social-item-instagram a:hover img {
      background: #517fa4;
    }
    .footer--social-item.footer--social-item-googleplus a:hover img {
      background: #dd4b39;
    }
    .footer--social-item.footer--social-item-youtube a:hover img {
      background: #b00;
    }
    .footer--social-item.footer--social-item-rss a:hover img {
      background: #FD9F13;
    }
    .footer--links, .footer--links a, .footer--legal .footer--legal-text, .footer--legal .footer--legal-links, .footer--legal .footer--legal-link .link-txt {
      color: #fff;
      -webkit-transition: color 0.3s ease-in-out 0s;
      transition: color 0.3s ease-in-out 0s;
      text-decoration: none;
      font-weight: normal;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 0.6rem;
      letter-spacing: 0.03em;
      line-height: 1.4;
      text-transform: uppercase;
      list-style-position: inside;
      list-style-type: none;
    }
    .footer--links a:hover, .footer--legal .footer--legal-text:hover {
      color: #ccc;
      -webkit-transition: color 0.3s ease-in-out 0s;
      transition: color 0.3s ease-in-out 0s;
    }
    .footer--links{
      clear:none;
      margin-bottom: 30px;
      margin-right:0;
      margin-left:0;
      margin-top:10px;
      padding: 0;
    }
    .footer--links.no-related-links {
        float: left;
        margin-right: 2%;
        width: 66%;
    }
    .footer--links li {
        width: 25%;
        float: left;
        margin-bottom: 5px
    }
    .footer--logo-hearst {
        display:block;
        clear:both;
        margin-top: 20px;
    }
    .footer--logo-hearst img {
        width: 150px;
        max-width: 100%;
        background: none;
    }
    .footer--legal {
        padding-bottom: 0;
        margin-top:8px;
        clear: both;
        display:block;
    }
    .footer--legal .footer--legal-text {
        width: 100%;
    }


    /* MEDIA QUERIES--------------------------------------------------*/

    /* Smaller than 1024 */
    @media only screen and (max-width: 1023px) {
      .icoMenu {
        float: left;
        margin: 15px 10px 0 0;
      }
    }

    /* Smaller than 980 */
    @media only screen and (max-width: 979px) {
      .nav--secondary {
        display: none;
      }
      .nav, .conten--nav {
        height: 108px;
        text-align: center;
        position: inherit;
      }
      .nav--menu {
        display: inherit;
        text-align: center;
        border-bottom: 1px solid #f3f3f3;
      }
      .nav--all-menus {
        margin-top: 12px;
        position: relative;
        overflow: hidden;
        height: 25px;
        width: 100%;
      }
      .nav--all-menus::after {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 85%);
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        width: 100px;
        height: 100%;
      }
      #cabecera {
        padding: 0;
      }
      /* Arreglos para quitar el submenu */
      .nav, .conten--nav {
        height: 52px;
      }
      .nav--all-menus {
        display: none;
      }

      .footer {
        padding: 30px 2.5rem 30px;
      }
      .footer--logo {
        margin: 0 35px 30px 0
      }
      .footer--links.no-related-links {
        float: none;
        clear:both;
        margin: 10px 0 30px 0;
        width: 100%;
      }
      .footer--links.no-related-links::after {
      content:"";
      height:0;
      width:100%;
      clear:both;
      display:block;
      }
      .footer--social {
        clear: none;
        display: inline-block;
        float: right;
        position: relative;
        top: inherit;
      }
      .footer--logo-hearst, .footer--legal {
        margin-top: 0;
      }
    }

    /* Smaller than 768 */
    @media only screen and (max-width: 767px) {
      .nav-panel--panel--link, .nav-panel--panel--title {
        font-size: 1rem;
        padding: 0 10px 7px 30px;
      }
    }

    /* Smaller than 640 */
    @media only screen and (max-width: 639px) {
      .nav-panel {
        width: 80%;
      }
      .nav-panel--inner, .nav-panel--inner .nav-panel--panel {
        max-width: 85%; width: 85%;
      }

      .footer {
        padding: 30px 0.938rem;
      }
      .footer--social {
        float: left;
      }
      .footer--links.no-related-links li {
        width: 33%;
      }
    }

    /* Smaller than 540 */
    @media only screen and (max-width: 539px) {
      .nav-panel {
        width: 100%;
      }
    }

    /* Smaller than 480 */
    @media only screen and (max-width: 479px) {
      .footer {
        padding: 30px 0.938rem 20px;
      }
      .footer--social {
        float: none;
        display: block;
        clear: both;
      }
      .footer--links.no-related-links li {
        width: 50%;
      }
    }

    /* Smaller than 360 */
    @media only screen and (max-width: 359px) {
      #cabecera {
        margin: 0 auto 30px auto;
      }
    }



      /* body --------------------------------------------------*/
      body {
      margin:0;
      padding:0;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size:16px;
      line-height:1.8em;
      color:#000;
      background:#fff;
      }
      *:focus{
      outline-color: invert;
      outline-style: none;
      outline-width: 0pt;
      }
      .google {
      margin-bottom: 15px;
      }

      /* reset --------------------------------------------------*/
      h1,h2,h3,h4,h5,h6,p,form,fieldset,div {
      margin:0;
      padding:0;
      }
      .low {
      display:none;
      }
      .hide {
      position: absolute;
      top: -1500em;
      left: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      }

      /* headings --------------------------------------------------*/
      h1, h1 a, h3 a, h4 a {
      color:#000;
      }
      h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
      color:#777;
      }
      h2 {
      font-family: Arial,Helvetica,sans-serif;
      color:#000;
      font-weight:normal;
      font-size: 36px;
      line-height:38px;
      text-transform:uppercase;
      margin:0 0 20px
      }
      h2 a {
      display: block;
      padding:0;
      color:#000;
      padding:0;
      font-weight:normal;
      }
      h3 {
      margin:0 0 20px;
      font-family: Arial,Helvetica,sans-serif;
      font-size:20px;
      line-height:24px;
      color:#777;
      font-weight:bold;
      text-align:left;
      border-bottom:1px solid #e6e6e6s;
      }
      h3 em {
      font-size: 18px;
      }
      h3 a {
      color:#777;
      }
      .date{
      display: inline-block;
      padding:0;
      margin:0 0 10px;
      font-family: Georgia, serif;
      }


      /* links --------------------------------------------------*/
      a {
      text-decoration:none;
      font-weight: bold;
      color:#000;
      }
      a:hover {
      text-decoration:underline;
      color:#666;
      }
      a img {
      border:none;
      }
      a.more {
      padding-left:12px;
      }

      /* paragraphs, lists, etc --------------------------------------------------*/
      p {
      margin:0 0 20px;
      padding:0;
      }
      ul {
      margin:0 0 20px 40px;
      padding:0;
      list-style: disc outside;}
      ul li {
      margin:0 0 10px;
      padding:0;
      }
      ul ul {
      padding:0;
      }
      .archive a {
      font-weight: normal
      }
      blockquote {
      margin:0 0 18px;
      padding:0;
      font-style:italic;
      color:#777;
      }
      pre {
      overflow:auto;
      margin:0 0 18px 0;
      padding:4px;
      background-color:#ccc;
      }
      pre, code, kbr {
      font-family:Courier, Monaco, monospace;
      }
      code, kbr {
      padding:0 2px;
      }
      abbr, acronym {
      font-size:0.9em;
      letter-spacing:1px;
      }
      /* Mozilla based browsers */
      ::-moz-selection {
      background-color: #e6e6e6;
      color: #000;
      }
      /* Works in Safari */
      ::selection {
      background-color: #e6e6e6;
      color: #000;
      }

      /* container --------------------------------------------------*/
      .wrapper{
      width:100%;
      }
      #container {
      position:relative;
      width:980px;
      margin:0 auto 25px;
      padding:0;
      background-color:#fff;
      }
      #container:after {
      content:"";
      display:block;
      clear:both;
      height:0;
      width:100%;
      }
      #publiRightCenter{
      display:none;
      width:100%;
      background-color: #f3f3f3;
      text-align: center;
      padding:0;
      }
      #publiRightCenter #publiRightCenter_ad_container{
      width: 300px;
      margin:0 auto;
      padding:4% 0;
      }

      /* content --------------------------------------------------*/
      #content {
      position:relative;
      float:left;
      width:600px;
      padding:0;
      margin: 0 0 0 20px;
      }

      /* subcontent --------------------------------------------------*/
      #subcontent {
      float:right;
      width:300px;
      margin:0 20px 0 0;
      padding:10px 0 0 0;
      }

      /* entry --------------------------------------------------*/
      .entry, .minientry {
      clear:both;
      margin:0 0 40px;
      }
      .entry:last-of-type, .minientry:last-of-type {
      margin:0;
      }
      .entry .info {
      clear:both;
      position:relative;
      margin:0 0 20px 0;
      padding:0;
      background-color:#000;
      color: #fff;
      text-transform:uppercase;
      font-family: Arial,Helvetica,sans-serif;
      }
      .entry .info a {
      border-right:none;
      color:#fff;
      text-decoration: none;
      font-weight: normal
      }
      .entry .info a:first-of-type {
      margin:0 0 0 10px;
      }
      .entry .info a:hover {
      text-decoration:underline;
      color:#e6e6e6;
      }
      .entry .info em {
      color:#fff;
      text-transform:none;
      font-size:14px;
      font-style: normal;
      margin:0 0 0 10px;
      padding:0 0 0 10px;
      border-left:1px solid #fff;
      }

      /* Images --------------------------------------------------*/
      img {
      border:none;
      max-width:100%;
      height:auto;
      }
      .alignleft {
      float:left;
      margin:0 20px 20px 0;
      max-width: 100%;
      height:auto;
      }
      .alignright {
      float:right;
      margin:0 0 20px 20px;
      max-width: 100%;
      height:auto;
      }
      .aligncenter {
      display: block;
      margin:20px auto;
      clear:both;
      max-width: 100%;
      height:auto;
      }
      .alignnone {
      display: block;
      margin:20px 0;
      clear:both;
      max-width: 100%;
      height:auto;
      }
      .alignleft a, .alignright a, .aligncenter a, .alignnone a {
      display:block;
      }
      .wp-caption img {
      width:100%; height:auto;
      display: block;
      margin:0 0 10px;
      }
      .wp-caption-text {
      color: #666;
      font-size:14px;
      line-height: 18px;
      margin: 0;
      text-align: center;
      }
      .wp-caption-text a {
      display:inline;
      }

      /* navegacion --------------------------------------------------*/
      span.previous {
      float:left;
      max-width: 49%;
      }
      span.next {
      float:right;
      max-width: 49%;
      }
      span.next a {
      padding: 0 15px 0 3px;
      margin: 0 1px 0 0;
      color:#666;
      background: url(../images/icoFlechaDrcha.gif) center right no-repeat;
      text-transform: uppercase;
      font-weight: normal;
      font-family: Arial,Helvetica,sans-serif;
      }
      span.previous a {
      padding: 0 3px 0 15px;
      margin: 0 0 0 1px;
      color:#666;
      background: url(../images/icoFlechaIzq.gif) center left no-repeat;
      text-transform: uppercase;
      font-weight: normal;
      font-family: Arial,Helvetica,sans-serif;
      }
      span.next a:hover, span.previous a:hover {
      text-decoration:underline;
      color:#000;
      }
      #entrynavigation {
      display:block;
      clear:both;
      margin:0 0 40px;
      padding:0;
      }
      #entrynavigation:after{
      content:"";
      height:0;
      width:100%;
      display:block;
      clear:both;
      }

      /* content misc --------------------------------------------------*/
      .entry .editlink, #comments .editlink {
      position:absolute;
      right:0;
      top:0px;
      }
      .entry .editlink a, #comments .editlink a {
      display:block;
      margin:0;
      padding:2px 5px;
      border:none;
      font-size:12px;
      line-height:1.2em;
      text-transform:uppercase;
      background:#e6e6e6;
      color:#000
      }
      .entry .editlink a:hover, #comments .editlink a:hover {
      text-transform:uppercase;
      color:#666
      }

      /* Comments --------------------------------------------------*/
      #comments {
      clear:both;
      padding:0;
      width:100%;
      }
      #comments h2 {
      margin:0 0 20px 0;
      padding:0;
      font-size:22px;
      line-height:24px;
      }
      #comments ul {
      padding:0;
      margin:0 0 40px;
      list-style-type:none;
      }
      #comments li.comment {
      position:relative;
      margin:0 0 20px 0;
      border-bottom:1px solid #f3f3f3;
      }
      #comments li.comment:last-of-type {
      border-bottom:none;
      }
      #comments li.comment p {
      margin:0 0 10px 0;
      line-height: 22px;
      }
      #comments p.header {
      position:relative;
      margin:0 0 10px;
      }
      #comments h2.dejaComentarios {
      margin:0 0 5px 0;
      }

      /* form --------------------------------------------------*/
      #commentform, #contactform, #loginform, #lostpasswordform {
      clear:both;
      margin:0;
      padding:30px;
      background: #f3f3f3;
      }
      form fieldset {
      border:0 solid;
      }
      #commentform label, #contactform label, #loginform label {
      width:110px;
      display:inline-block;
      text-align: right;
      margin:0 5px 0 0;
      vertical-align: top;
      }
      #commentform p em, #contactform p em {
      font-size:12px;
      padding:0 0 0 5px;
      color:#666;
      }
      form input, form textarea {
      width:40%;
      padding:1%;
      border:1px solid;
      font-family: Georgia, "Times New Roman", Times, serif;
      border-color:#ccc;
      background:#fff;
      color: #666;
      font-size: 14px;
      }
      form textarea {
      overflow:auto;
      width:70%;
      }
      #commentform .button, #contactform .button, #loginform .block .button, #lostpasswordform .block .button {
      color:#fff;
      background-color:#000;
      border-width:0;
      cursor:pointer;
      font-family: Arial,Helvetica,sans-serif;
      font-size:16px;
      line-height:18px;
      text-transform: uppercase;
      text-align: center;
      font-weight: normal;
      padding:1%;
      margin:0 auto;
      width:60%;
      display: block;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      }
      #commentform .button:hover, #contactform .button:hover, #loginform .block .button:hover, #lostpasswordform .block .button:hover {
      opacity:0.8;
      }
      form .hiddenfield {
      display:none;
      }
      .cptch_block {
      padding-left: 50px;
      }
      #lostpasswordform .cptch_block {
      padding-left: 0;
      }
      .cptch_block + br {
      display: none;
      }
      #commentform + p a {
      font-weight: normal
      }
      #commentform p:last-of-type, #contactform p:last-of-type {
      margin:0;
      }
      #commentform #email_confirm, #contactform #email_confirm {
      display:none;
      }
      #commentform input[type="checkbox"], #contactform input[type="checkbox"], #loginform .block input[type="checkbox"], #loginform .block label[for="rememberme"], #lostpasswordform .block input[type="checkbox"], #lostpasswordform .block label[for="rememberme"]  {
      width:auto;
      }

      /* login form --------------------------------------------------*/
      #loginform label {
      width:140px;
      }
      #lostpasswordform label  {
      width:100%;
      display:block;
      text-align: left;
      margin:0 0 1%;
      }
      #loginform .block input {
      width: 350px;
      }
      #lostpasswordform .block input  {
      width:100%;
      display:block;
      text-align: left;
      }


      /* subcontent --------------------------------------------------*/
      #publiRight {
      width:300px;
      overflow:hidden;
      margin:0 auto 40px;
      }
      #subcontent ul {
      padding:0;
      margin:0;
      list-style-type:none;
      }
      #subcontent ul li.widget {
      color:#444;
      margin: 0 0 40px;
      padding: 0;
      line-height: 24px;
      }
      #subcontent ul li.widget a {
      color:#444;
      text-decoration:none;
      font-weight: normal;
      }
      #subcontent ul li.widget a:hover {
      color:#666;
      text-decoration:underline;
      }
      #subcontent ul li.widget h2.widgettitle{
      color:#000;
      font-size: 22px;
      line-height: 24px;
      font-family: Arial,Helvetica,sans-serif;
      padding:0;
      margin:0 0 10px 0;
      text-transform:uppercase;
      font-weight: normal;
      }
      #subcontent ul li.widget ul {
      margin:0 0 0 10px;
      padding: 0;
      }
      #subcontent ul li.widget ul li {
      list-style:none; margin:0 0 15px;
      }
      #subcontent ul li.widget.widget_search label.screen-reader-text {
      display:none;
      }
      #subcontent ul li.widget.widget_search form#searchform {
      margin:0;
      padding:0;
      }
      #subcontent ul li.widget.widget_search form#searchform div input#s {
      width:60%;
      margin:0;
      padding:0.5%;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size:16px;
      line-height:1.8em;
      color:#444;
      }
      #subcontent ul li.widget.widget_search form#searchform div input#searchsubmit {
      width:30%;
      color:#fff;
      background-color:#000;
      border-width:0;
      cursor:pointer;
      font-family: Arial,Helvetica,sans-serif;
      font-size:16px;
      line-height:18px;
      text-transform: uppercase;
      font-weight: normal;
      padding:2%;
      }
      #subcontent label.screen-reader-text {
      display: none;
      }
      #subcontent ul li.widget.widget_text div, #subcontent ul li.widget.widget_tag_cloud div, #subcontent ul li.widget select  {
      padding:0;
      margin:0;
      color:#444;
      }
      #subcontent ul li.widget select {
      padding:0.5%;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size:16px;
      line-height:1.8em;
      color:#444;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul {
      margin:0;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li {
      min-height: 80px;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li:hover {
      background-color: #e6e6e6;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li:after {
      content:"";
      height:0;
      width:100%;
      display:block;
      clear:both;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li a {
      display:block;
      padding:5px 0 0 0;
      line-height:20px;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li a strong {
      font-weight: normal;
      color:#000;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li a .dateSidebar {
      font-weight: normal;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size:12px;
      line-height:1.2em;
      color:#666;
      text-transform: uppercase;
      }
      #subcontent ul li#recent-posts.widget_recent_entries a.imgSidebar {
      display:block;
      padding:0;
      }
      #subcontent ul li#recent-posts.widget_recent_entries img {
      float:left;
      margin:0 10px 0 0;
      }
      #subcontent ul li#recent-posts.widget_recent_entries ul li a:hover{
      text-decoration: none;
      }
      #calendar_wrap {
      padding:0;
      margin:0;
      color:#666;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 16px;
      line-height: 22px;
      }
      #calendar_wrap #wp-calendar {
      width:95%;
      }
      #calendar_wrap #wp-calendar th {
      text-align:center;
      background:#e6e6e6;
      text-transform: uppercase;
      font-weight: normal
      }
      #calendar_wrap #wp-calendar td {
      text-align:center;
      background:#f3f3f3;
      }
      #calendar_wrap #wp-calendar td#today {
      border:1px solid #666
      }
      #calendar_wrap #wp-calendar a {
      font-weight:bold;
      color:#000
      }
      #calendar_wrap #wp-calendar caption {
      background:#000;
      color:#fff;
      text-transform: uppercase;
      padding:2px;
      }
      #calendar_wrap #wp-calendar tfoot tr td {
      background:#000;
      color:#fff;
      }
      #calendar_wrap #wp-calendar tfoot a {
      color:#fff;
      font-weight:normal;
      text-transform: uppercase;
      }

      /* MEDIA QUERIES--------------------------------------------------*/
      /* Tablet 768 */
      @media only screen and (max-width: 768px) {
      .wrapper {
       width: 980px;
      }
      }
      /* Smaller than 768 */
      @media only screen and (max-width: 767px) {
      .wrapper, #container {
      width: 100%;
      }
      #content {
      display:block;
      float:none;
      clear:both;
      width:94%;
      margin:0 auto;
      }
      #subcontent {
      display:none;
      }
      h2 {
      font-size: 30px;
      line-height: 32px;
      }
      #content > ul:last-of-type {
      list-style: none;
      width:100%;
      background:#f3f3f3;
      margin:0 0 20px;
      }
      #content > ul:last-of-type li {
      padding:3% !important;
      border-bottom:1px solid #e6e6e6;
      margin:0;
      color: #666;
      font-family: Georgia,serif;
      font-size: 16px;
      line-height: 22px;
      }
      #content > ul:last-of-type li:last-of-type {
      border-bottom:none;
      }
      #content > ul:last-of-type li ul {
      margin:0;
      list-style: none;
      }
      #content > ul:last-of-type li ul li {
      border-bottom:none;
      padding:0 0 3% 0 !important;
      }
      #content > ul:last-of-type h2 {
      font-size: 24px;
      line-height: 26px;
      }
      ul li#recent-posts.widget_recent_entries ul {
      margin:0;
      }
      ul li#recent-posts.widget_recent_entries ul li {
      padding:0 !important;
      margin:0 0 3% 0;
      }
      ul li#recent-posts.widget_recent_entries ul li:hover {
      background-color: #e6e6e6;
      }
      ul li#recent-posts.widget_recent_entries ul li:after {
      content:"";
      height:0;
      width:100%;
      display:block;
      clear:both;
      }
      ul li#recent-posts.widget_recent_entries ul li a {
      display:block;
      padding:5px 0 0 0;
      line-height:20px;
      }
      ul li#recent-posts.widget_recent_entries ul li a strong {
      font-weight: normal;
      color:#000;
      }
      ul li#recent-posts.widget_recent_entries ul li a .dateSidebar {
      font-weight: normal;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size:12px;
      line-height:1.2em;
      color:#666;
      text-transform: uppercase;
      }
      ul li#recent-posts.widget_recent_entries a.imgSidebar {
      display:block;
      padding:0;
      }
      ul li#recent-posts.widget_recent_entries img {
      float:left;
      margin:0 10px 0 0;
      }
      ul li#recent-posts.widget_recent_entries ul li a:hover{
      text-decoration: none;
      }
      #publiRightCenter{
      display:block;
      height: auto;
      }
      #publiRightCenter:before{
      content:"";
      height:20px;
      background-color: #f3f3f3;
      clear:both;
      width:100%;
      display:block;
      }
      #publiRightCenter:after{
      content:"";
      height:20px;
      background-color: #f3f3f3;
      clear:both;
      width:100%;
      display:block;
      }
      .entry .info em {
      font-size: 0.7rem;
      }
      }

      /* Smaller than 640 */
      @media only screen and (max-width: 639px) {
      #commentform, #contactform, #loginform, #lostpasswordform  {
      padding: 4%;
      }
      #commentform label, #contactform label, #loginform label, #lostpasswordform label {
      width:100%;
      display:block;
      text-align: left;
      margin:0;
      }
      form input, form textarea, #loginform .block input, #lostpasswordform .block input {
      width:97%;
      display:block;
      }
      .cptch_block {
      padding-left: 0;
      }
      #commentform .button, #contactform .button, #loginform .block .button, #lostpasswordform .block .button  {
      width: 98%;
      }
      #commentform p, #contactform p, #loginform p, #lostpasswordform p {
      margin: 0 0 3%;
      }
      #commentform .block input[type="checkbox"], #contactform .block input[type="checkbox"], #loginform .block input[type="checkbox"], #loginform .block label[for="rememberme"], #lostpasswordform .block input[type="checkbox"], #lostpasswordform .block label[for="rememberme"]{
      display:inline;
      }
      }

      /* Smaller than 480 and 480 */
      @media only screen and (max-width: 480px) {
      .alignleft, .alignright {
      float:none;
      clear:both;
      display:block;
      margin:20px auto;
      }
      h2 {
      font-size: 24px;
      line-height: 26px;
      }
      .entry, .minientry {
      overflow: hidden;
      }
      .entry .info em {
      display:none;
      }
      }

      /* Smaller than 320 and 320 */
      @media only screen and (max-width: 320px) {
      #publiRightCenter{
      padding:0 0 10%;
      background-color: transparent
      }
      #publiRightCenter:before{
      content:"";
      height:0;
      background-color:none;
      }
      #publiRightCenter:after{
      content:"";
      height:0;
      background-color: none;
      }
      ul li#recent-posts.widget_recent_entries ul li a .dateSidebar {
      font-size:10px;
      }
      }
      div.block {
        display:block;
        margin:0 0 2% 0;
      }
      button.registro{
       color:#fff;
       background-color:#9a9a9a;
       border-width:0;
       cursor:pointer;

       font-family:Arial,Helvetica,sans-serif;
       font-size: 0.875rem
       line-height:18px;
       text-transform: uppercase;
       text-align: center;
       font-weight: normal;
       padding:5%;
       margin:0 auto;
       display: block;
       opacity: 1;
       transition: opacity 0.3s ease-in-out;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>
    <app-route
      route="{{subroute}}"
      pattern="/:id"
      data="{{subrouteData}}">
  </app-route>

    <div class="entry">
      <div class="date">{{date}}</div>
      <h2>{{title}}</h2>
      <div><img src="{{photoURL}}" height="50%" width="50%" style="float: left;padding: 0 5% 0 5%"/>
      <div id="body"></div>
      </div>
      <p></p>
      <div id="comments">
        <p class="info">{{comments.length}} Comentarios<em class="author">Enviado por: {{user}}</em></p>
        <ul>
          <template is="dom-repeat" items="[[comments]]">
            <li id="comment-1" class="comment">
              <p class="header"><strong>{{item.user}}</strong>&nbsp;|&nbsp;{{item.created}}</p>
              <p class="text"></p>
              {{item.comment}}
              <p></p>
            </li>
          </template>
        </ul>
        <template is="dom-if" if="{{mostrarComentarios}}">
          <h2 class="dejaComentarios">Deja un comentario</h2>
          <div>
              <p>
                <label>Comentario</label>
                <textarea name="comment" id="comment" cols="45" rows="10" tabindex="4" value="{{comment::input}}"></textarea>
              </p>
              <div>
                <button type="button" name="button" on-click="altaComentario">Enviar</button>
              </div>
          </div>
        </template>
      </div>
    </div>
    <!--<p id="entrynavigation">
      <span class="previous"><a href="http://page/2/">Post Anterior</a></span>
      <span class="next"></span>
    </p>-->

  </template>

  <script>

    Polymer({
      is: 'my-post',
      properties: {
        date: String,
        title: String,
        body: String,
        user: String,
        photoURL: String,
        comments: Array,
        comment: String,
        mostrarComentarios: {value: false, notify: true}
      },
      listeners:{
      },
      observers: [
        '_routePageChanged(routeData.page)'
      ],
      ready: function(){
        var request = new XMLHttpRequest();
        request.open("GET", URL_MLAB+"posts/"+this.get('subrouteData.id')+API_KEY, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var post=JSON.parse(request.responseText);
        this.set('date',post.created);
        this.set('title',post.title);
        this.set('body',post.body);
        this.set('user',post.user);
        this.set('photoURL',post.photoURL);

        this.$$('#body').innerHTML = this.body;

        request.open("GET", URL_MLAB+"comments/"+API_KEY+"&q={'id_post': '"+post._id.$oid+"'}", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.comments=JSON.parse(request.responseText);

        if(sessionStorage["userId"]!="null"){
          this.set('mostrarComentarios', true);
        }else{
          this.set('mostrarComentarios', false);
        }
      },
      attached: function(){
        if(sessionStorage["userId"]!="null"){
          this.set('mostrarComentarios', true);
        }else{
          this.set('mostrarComentarios', false);
        }
      },
      _routePageChanged: function(page) {

        var request = new XMLHttpRequest();
        request.open("GET", URL_MLAB+"posts/"+this.get('subrouteData.id')+API_KEY, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var post=JSON.parse(request.responseText);
        this.set('date',post.created);
        this.set('title',post.title);
        this.set('body',post.body);
        this.set('user',post.user);

        this.$$('#body').innerHTML = this.body;

        request.open("GET", URL_MLAB+"comments/"+API_KEY+"&q={'id_post': '"+post._id.$oid+"'}", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.comments=JSON.parse(request.responseText);

        if(sessionStorage["userId"]!="null"){
          this.set('mostrarComentarios', true);
        }else{
          this.set('mostrarComentarios', false);
        }
      },
      altaComentario: function(page) {
        var d=new Date();
        var dia=new Array(7);
        dia[0]="DOMINGO";
        dia[1]="LUNES";
        dia[2]="MARTES";
        dia[3]="MIÉRCOLES";
        dia[4]="JUEVES";
        dia[5]="VIERNES";
        dia[6]="SÁBADO";

        var mes=new Array(11);
        mes[0]="ENERO";
        mes[1]="FEBRERO";
        mes[2]="MARZO";
        mes[3]="ABRIL";
        mes[4]="MAYO";
        mes[5]="JUNIO";
        mes[6]="JULIO";
        mes[7]="AGOSTO";
        mes[8]="SEPTIEMBRE";
        mes[9]="OCTUBRE";
        mes[10]="NOVIEMBRE";
        mes[11]="DICIEMBRE";

        var fecha = dia[d.getDay()] + ", " + d.getDate() + " DE "+ mes[d.getMonth()] + " DE " + d.getFullYear();

        var request = new XMLHttpRequest();
        request.open("POST", URL_MLAB+"comments"+API_KEY, false);
        request.setRequestHeader("Content-Type", "application/json");
        var nuevo_post = JSON.stringify({"id_post": this.get('subrouteData.id'), "title_post": this.title, "comment": this.comment, "user": sessionStorage["name"],"created":fecha});
        request.send(nuevo_post);

        this.dispatchEvent(new Event("change-comments", {composed: true}));

        request.open("GET", URL_MLAB+"comments/"+API_KEY+"&q={'id_post': '"+this.get('subrouteData.id')+"'}", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.comments=JSON.parse(request.responseText);
      }
    })
  </script>
</dom-module>
