<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="my-view403">
  <template>
    <style>
      span.previous {
      float:left;
      max-width: 49%;
      }
      span.previous a {
      padding: 0 3px 0 15px;
      margin: 0 0 0 1px;
      color:#666;
      background: url(../images/icoFlechaIzq.gif) center left no-repeat;
      text-transform: uppercase;
      font-weight: normal;
      font-family: Arial,Helvetica,sans-serif;
      }
    </style>
    <div>
      <img src="../images/acceso_denegado.png" width="80%" style="float: left;padding: 0 5% 0 5%"/>
      <span class="previous"><a href="[[rootPath]]">Volver al inicio</a></span>
    </div>

  </template>

  <script>
    class MyView403 extends Polymer.Element {
      static get is() { return 'my-view403'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(MyView403.is, MyView403);
  </script>
</dom-module>
